/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  border: 3px solid #3ebcfe;
  padding: 10px 30px;
  color: #3ebcfe;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* MENU */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #3ebcfe; /* azul */
  padding: 15px 0;
  z-index: 10;
}

.menu-container {
  max-width: 960px;
  margin: 0 200px;
}
.menu-container::after,
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu-nav {
  float: right;
  margin-top: 45px;
}
.menu-nav li {
  display: inline-block;
}
.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-nav ul li a:hover {
  color: #fff;
}

/* INTRODUÇAO */
.intro {
  background: url(../img/bg-home.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
}
.intro p {
  font-size: 20px;
  padding-top: 20px;
}

/* PRODUTOS */

.produtos-container {
  margin: 0 auto;
  background-color: #000;
  padding: 0 125px;
}
.produtos-container::after,
.produtos-container::before {
  content: "";
  display: table;
  clear: both;
}
.produtos-container ul {
  padding-left: 40px;
}
.subtitulo {
  text-align: center;
  padding-right: 40px;
  padding-top: 30px;
  font-size: 2.25em;
  text-transform: uppercase;
  color: #fff;
}
.produto-item {
  width: 300px;
  float: left;
  background-color: #fff;
  margin: 40px 100px;
  border-radius: 10px;
}

ul li h3 {
  text-align: center;
  text-transform: uppercase;
}

.produto_icone {
  max-width: 100%;
}

.produto-item a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #000;
  padding: 20px 100px;
  background-color: #3ebcfe;
  display: inline-block;
  width: 100px;
  border-radius: 10px;
}
.produto-item a:hover {
  color: #fff;
}

.produto-item img {
  border-radius: 10px;
}

/* NOSSOS CLIENTES */
.titulo-cliente {
  text-align: center;
  margin-top: 20px;
  font-size: 2.25em;
  text-transform: uppercase;
  color: #000;
}
.foto-cliente {
  margin: 20px 200px;
}

/* BG-FOOTER */
.bg-footer {
  background: url(../img/bg-footer.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  margin-top: 80px;
}
.bg-externo {
  text-align: center;
  color: #fff;
  font-size: 1.87em;
}
.bg-externo p {
  font-size: 20px;
}

/*FOOTER*/

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 250px;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #3ebcfe;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #3ebcfe;
  margin: 6px 0 12px 0;
}

.footer_historia {
  margin-left: 200px;
  padding-right: 100px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

/* .footer_redes ul li a {
  border: 3px solid #3ebcfe;
  display: block;
  padding: 10px;
} */

.copy {
  width: 100%;
  background: #3ebcfe;
  padding: 20px 0;
}
