/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  border: 3px solid #3ebcfe;
  padding: 10px 30px;
  color: #3ebcfe;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* MENU */

.header {
  background-color: #3ebcfe;
}
.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.menu-nav a:hover {
  color: #fff;
}
.menu-barra {
  width: 10px;
  display: none;
}
/* INTRODUÇAO  */

.intro {
  background: url(../img/bg-home.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}
.intro h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
}
.intro p {
  font-size: 20px;
  padding-top: 20px;
}

/* PRODUTOS */

.produtos-cont {
  height: 420px;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 103px;
}
.subtitulo {
  color: #fff;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}

.produtos-lista {
  max-width: 900px;
  display: flex;
  padding-left: 400px;
}
.produto-item {
  background-color: #fff;
  margin-left: 50px;
  border-radius: 10px;
}
.produto-item1 {
  padding-top: 6px;
}
.produto-item2 {
  padding-top: 6px;
}
.produto-item3 {
  padding-top: 3px;
}

.produto-item a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #000;
  padding: 31px 101px;
  background-color: #3ebcfe;
  display: inline-block;
  width: 100px;
  border-radius: 10px;
}

.produto-item a:hover {
  color: #fff;
}

.produto-item img {
  border-radius: 10px;
}

/* NOSSOS CLIENTES */

.titulo-cliente {
  text-align: center;
  margin-top: 20px;
  font-size: 2.25em;
  text-transform: uppercase;
  color: #000;
}
.foto-cliente {
  margin: 20px 250px;
  width: 1414px;
}

/* BG-FOOTER */

.bg-footer {
  background: url(../img/bg-footer.png) no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  margin-top: 80px;
}
.bg-externo {
  text-align: center;
  color: #fff;
  font-size: 1.87em;
}
.bg-externo p {
  font-size: 20px;
}

/*FOOTER*/

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-cont {
  display: flex;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #3ebcfe;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #3ebcfe;
  margin: 6px 0 12px 0;
}

.footer-historia {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding-left: 100px;
}

.footer_historia p {
  font-size: 20px;
}

.footer-contato {
  padding-left: 300px;
}
.footer-contato ul li {
  font-size: 16px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}
.footer-redes {
  padding-left: 400px;
}
.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  border: 3px solid #3ebcfe;
  display: block;
  padding: 10px;
}
.footer-redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: #3ebcfe;
}
.copy p {
  text-align: center;
  padding: 20px 0;
}
